@import "./variables.scss";
@import "./mixins.scss";
.gummy-vitamin-manufacturing-container {
    .man_intro_cont {
        text-align: center;
        width: 800px;
        max-width: 100%;
        padding-top: 135px;
        margin: 0 auto;
        padding-bottom: 80px;
        h1 {
            line-height: 60px;
            font-weight: 700;
            font-size: 50px;
            margin-bottom: 20px;
        }
        .breadcrumb {
            background-color: #fff;

            .breadcrumb-item {
                color: #000;
                text-align: center;
                margin: 0 auto;
                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                }
                &::before {
                    content: none;
                }
                i {
                    margin-left: 10px;
                    font-size: 15px;
                }
            }
        }
    }
    .video-container {
        position: relative;
        .overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(0 0 0 / 30%);
            z-index: 1;
        }
        .video-content {
            position: absolute;
            top: 20%;
            z-index: 10;
            h2 {
                color: #ffffff;
                font-size: 42px;
                line-height: 52px;
                margin-bottom: 20px;
            }
            p {
                color: #ffffff;
                font-size: 14px;
                line-height: 24px;
                width: 40%;
                margin-bottom: 20px;
            }
        }
    }
    .labels-wrapper {
        position: relative;
        margin-top: -200px;
        z-index: 20;
        .labels-block-wrapper {
            box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 15%);
            background-color: $white;
            .labels-block {
                display: flex;
                .item {
                    padding: 100px 60px;
                    border-right: 1px solid #ededed;
                    &:hover {
                        background-color: #fc1b15;
                        i,
                        h2,
                        p {
                            color: $white;
                        }
                    }
                    &:last-child {
                        border-right: 0;
                    }
                    i {
                        font-size: 72px;
                        color: #35b11b;
                    }
                    h2 {
                        margin-top: 40px;
                        font-size: 26px;
                        line-height: 36px;
                        margin-bottom: 20px;
                    }
                    p {
                        line-height: 26px;
                        font-weight: 400;
                        font-style: normal;
                        color: #4b4b4b;
                        font-size: 16px;
                    }
                }
            }
            .labels-block-image {
                display: flex;
                justify-content: space-between;
                .block-image-left {
                    width: 50%;
                    padding: 80px 60px;
                    img {
                        width: 100%;
                    }
                    .block-image-content {
                        p {
                            text-align: center;
                            margin: 30px 0 20px;
                            transition: 0.3s;
                            &:last-child {
                                margin: 0 0 0;
                            }
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                    &:hover {
                        background-color: #fc1b15;
                    }
                }
                .block-image-right {
                    width: 50%;
                    padding: 80px 60px;
                    img {
                        width: 100%;
                    }
                    .block-image-content {
                        p {
                            text-align: center;
                            margin-top: 20px;
                            transition: 0.3s;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                    &:hover {
                        background-color: #fc1b15;
                    }
                }
            }
        }
    }
    .capabilities-wrapper {
        padding: 110px 0 90px;
        background-color: #f4f4f4;
        .capabilities {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content-block {
                width: 50%;
                p {
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    margin-bottom: 30px;
                }
                h2 {
                    line-height: 50px;
                    font-weight: 400;
                    font-style: normal;
                    color: #333;
                    font-size: 40px;
                    margin-bottom: 30px;
                }
                a {
                    width: 350px;
                }
            }
            .video-block {
                width: 50%;
                .video {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
    .manufacturing-wrapper {
        padding: 100px 0;
        .manufacturing {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content-block {
                width: calc(50% - 10px);
                h2 {
                    font-weight: Oxygen;
                    line-height: 50px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 40px;
                    margin-bottom: 30px;
                }
                h4 {
                    margin-bottom: 30px;
                }
                p {
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            .image-block {
                width: calc(50% - 10px);
                border-style: solid;
                border-width: 0px 0px 0px 0px;
                border-color: #ededed;
                transition: background 0.3s, border 0.3s, border-radius 0.3s,
                    box-shadow 0.3s;
                padding: 80px 40px 80px 40px;
                background-color: #ffffff;
                .images-right {
                }
            }
        }
    }
    .wet-granulation-wrapper {
        background-attachment: fixed;
        background-image: url(https://smpnutra.com/wp-content/uploads/2020/01/shutterstock_392703817.jpg);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        position: relative;
        .overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ffffff;
            opacity: 0.72;
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
            z-index: 1;
        }
        .manufacturing {
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content-block {
                width: calc(50% - 10px);
                h2 {
                    font-family: Oxygen;
                    line-height: 50px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 40px;
                    margin-bottom: 30px;
                }
                h4 {
                    font-family: Poppins;
                    line-height: 28px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                p {
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            .image-block {
                width: calc(50% - 10px);
                border-style: solid;
                border-width: 0px 0px 0px 0px;
                border-color: #ededed;
                transition: background 0.3s, border 0.3s, border-radius 0.3s,
                    box-shadow 0.3s;
                padding: 80px 40px 80px 40px;
                background-color: #ffffff;
                .images-right {
                    p {
                        line-height: 26px;
                        font-weight: 400;
                        font-style: normal;
                        color: #4b4b4b;
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .dry-granulation-wrapper {
        padding: 100px 0 50px;
        background-color: #fbfbfb;
        .manufacturing {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content-block {
                width: calc(50% - 10px);
                h2 {
                    font-family: Oxygen;
                    line-height: 50px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 40px;
                    margin-bottom: 30px;
                }
                h4 {
                    font-family: Poppins;
                    line-height: 28px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                p {
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            .image-block {
                width: calc(50% - 10px);
                border-style: solid;
                border-width: 0px 0px 0px 0px;
                border-color: #ededed;
                transition: background 0.3s, border 0.3s, border-radius 0.3s,
                    box-shadow 0.3s;
                padding: 80px 40px 80px 40px;
                background-color: #ffffff;
                .images-right {
                    p {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .mix-tumbler-wrapper {
        background-attachment: fixed;
        background-image: url(https://smpnutra.com/wp-content/uploads/2019/09/Gummyvitaminmanufacturer2-01.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        position: relative;
        .overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ffffff;
            opacity: 0.72;
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
            z-index: 1;
        }
        .manufacturing {
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content-block {
                width: calc(50% - 10px);
                h2 {
                    font-family: Oxygen;
                    line-height: 50px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 40px;
                    margin-bottom: 30px;
                }
                h4 {
                    font-family: Poppins;
                    line-height: 28px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                p {
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            .image-block {
                width: calc(50% - 10px);
                border-style: solid;
                border-width: 0px 0px 0px 0px;
                border-color: #ededed;
                transition: background 0.3s, border 0.3s, border-radius 0.3s,
                    box-shadow 0.3s;
                padding: 80px 40px 80px 40px;
                background-color: #ffffff;
                .images-right {
                    p {
                        line-height: 26px;
                        font-weight: 400;
                        font-style: normal;
                        color: #4b4b4b;
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .bottling-labeling-wrapper {
        background-attachment: fixed;
        background-image: url(https://smpnutra.com/wp-content/uploads/2019/11/P1510213.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        position: relative;
        .overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ffffff;
            opacity: 0.72;
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
            z-index: 1;
        }
        .manufacturing {
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content-block {
                width: calc(50% - 10px);
                h2 {
                    font-family: Oxygen;
                    line-height: 50px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 40px;
                    margin-bottom: 30px;
                }
                h4 {
                    font-family: Poppins;
                    line-height: 28px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                p {
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            .image-block {
                width: calc(50% - 10px);
                border-style: solid;
                border-width: 0px 0px 0px 0px;
                border-color: #ededed;
                transition: background 0.3s, border 0.3s, border-radius 0.3s,
                    box-shadow 0.3s;
                padding: 80px 40px 80px 40px;
                background-color: #ffffff;
                .images-right {
                    p {
                        line-height: 26px;
                        font-weight: 400;
                        font-style: normal;
                        color: #4b4b4b;
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .encapsulation-process-wrapper {
        padding: 50px 0 100px;
        background-color: #fbfbfb;
        .manufacturing {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content-block {
                width: calc(50% - 10px);
                h2 {
                    font-family: Oxygen;
                    line-height: 50px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 40px;
                    margin-bottom: 30px;
                }
                h4 {
                    font-family: Poppins;
                    line-height: 28px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                p {
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            .image-block {
                width: calc(50% - 10px);
                border-style: solid;
                border-width: 0px 0px 0px 0px;
                border-color: #ededed;
                transition: background 0.3s, border 0.3s, border-radius 0.3s,
                    box-shadow 0.3s;
                padding: 80px 40px 80px 40px;
                background-color: #ffffff;
                .images-right {
                    h3 {
                        color: #3c763d;
                        background-color: #dff0d8;
                        border-color: #cae6be;
                        padding: 15px;
                        text-align: left;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .gelatin-capsules {
        padding: 50px 0 80px;
        background-color: #fbfbfb;
        .manufacturing {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content-block {
                width: calc(50% - 10px);
                h2 {
                    font-family: Oxygen;
                    line-height: 50px;
                    font-weight: 700;
                    font-style: normal;
                    color: #333;
                    font-size: 40px;
                    margin-bottom: 30px;
                }
                p {
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                a {
                    margin-top: 40px;
                    width: 400px;
                }
            }
            .image-block {
                width: calc(50% - 10px);
                border-style: solid;
                border-width: 0px 0px 0px 0px;
                border-color: #ededed;
                transition: background 0.3s, border 0.3s, border-radius 0.3s,
                    box-shadow 0.3s;
                padding: 80px 40px 80px 40px;
                background-color: #ffffff;
                .images-right {
                }
            }
        }
    }
    .pre-manufactured-wrapper {
        padding: 100px 0;
        background-image: url(https://smpnutra.com/wp-content/uploads/2019/09/shutterstock_1346151257.jpg);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        .overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ffffff;
            opacity: 0.72;
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
            z-index: 1;
        }
        .pre-manufactured {
            position: relative;
            z-index: 10;
            .top-block {
                background-color: #fff;
                padding: 80px 25px;
                .content-block {
                    h3 {
                        font-family: Oxygen;
                        line-height: 32px;
                        font-weight: 400;
                        font-style: normal;
                        color: #333;
                        text-align: center;
                        font-size: 24px;
                        margin-bottom: 40px;
                        margin-top: 30px;
                    }
                    p {
                        line-height: 26px;
                        text-align: center;
                        font-weight: 400;
                        font-style: normal;
                        color: #4b4b4b;
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
                &:hover {
                    background-color: #fc1b15;
                }
                &:hover p {
                    color: #fff;
                }
                &:hover h3 {
                    color: #fff;
                }
            }
            .product-block {
                background-color: rgba(194, 194, 194, 0.27);
                padding: 25px 25px 25px 25px;
                h2 {
                    line-height: 32px;
                    font-weight: 400;
                    font-style: normal;
                    color: #333;
                    font-size: 24px;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                p {
                    line-height: 26px;
                    font-weight: 400;
                    font-style: normal;
                    color: #4b4b4b;
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .product-wrapper {
                    display: flex;
                    margin-top: 40px;
                    flex-wrap: wrap;
                    .item {
                        width: 31%;
                        margin-right: 15px;
                        margin-bottom: 100px;
                        &:last-child {
                            margin-right: 0;
                        }
                        .products-thumbnail {
                            display: flex;
                            justify-content: center;
                            img {
                                height: 300px;
                            }
                        }
                        .products-description {
                            h2 {
                                line-height: 32px;
                                font-weight: normal;
                                font-family: Oxygen;
                                color: #333;
                                font-size: 16px;
                            }
                            .order-btn {
                                margin-top: 15px;
                                a {
                                    width: 80px;
                                    margin: 0 auto;
                                }
                            }
                            p {
                                @include word_break(4);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .gummy-vitamin-manufacturing-container {
        .labels-wrapper {
            margin-top: -70px;
            .labels-block-wrapper {
                .labels-block {
                    flex-wrap: wrap;
                    .item {
                        width: 50%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .gummy-vitamin-manufacturing-container {
        .man_intro_cont {
            h1 {
                font-size: 40px;
            }
            .breadcrumb {
                display: none;
            }
        }
        .labels-wrapper {
            margin-top: 10px;
            .labels-block-wrapper {
                .labels-block {
                    flex-direction: column;
                    .item {
                        width: 100% !important;
                        text-align: center;
                        padding: 60px 50px;
                    }
                }
                .labels-block-image {
                    flex-direction: column;
                    .block-image-left {
                        width: 100%;
                        padding: 60px 40px;
                    }
                    .block-image-right {
                        width: 100%;
                        padding: 60px 40px;
                    }
                }
            }
        }
        .capabilities-wrapper {
            padding: 90px 15px 70px 15px !important;
            .capabilities {
                flex-direction: column-reverse;
                .content-block {
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
                    p {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 35px;
                        margin-bottom: 20px;
                    }
                    a {
                        text-align: center;
                        margin: 0 auto;
                    }
                }
                .video-block {
                    width: 100%;
                }
            }
        }
        .manufacturing-wrapper {
            padding: 90px 15px 70px 15px !important;
            .manufacturing {
                flex-direction: column;
                .content-block {
                    width: 100%;
                    margin-top: 30px;
                    text-align: center;
                    p {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 35px;
                    }
                }
                .image-block {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        .wet-granulation-wrapper {
            padding: 90px 15px 70px 15px !important;
            .manufacturing {
                flex-direction: column;
                .content-block {
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
                    p {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 35px;
                    }
                }
                .image-block {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        .dry-granulation-wrapper {
            padding: 90px 15px 70px 15px !important;
            .manufacturing {
                flex-direction: column;
                .content-block {
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
                    p {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 35px;
                    }
                }
                .image-block {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        .mix-tumbler-wrapper {
            padding: 90px 15px 70px 15px !important;
            .manufacturing {
                flex-direction: column;
                .content-block {
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
                    p {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 35px;
                    }
                }
                .image-block {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        .bottling-labeling-wrapper {
            padding: 90px 15px 70px 15px !important;
            .manufacturing {
                flex-direction: column;
                .content-block {
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
                    p {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 35px;
                    }
                }
                .image-block {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        .encapsulation-process-wrapper {
            padding: 90px 15px 70px 15px !important;
            .manufacturing {
                flex-direction: column;
                .content-block {
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
                    p {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 35px;
                    }
                }
                .image-block {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        .gelatin-capsules {
            padding: 90px 15px 70px 15px !important;
            .manufacturing {
                flex-direction: column;
                .content-block {
                    width: 100%;
                    margin-top: 30px;
                    text-align: center;
                    p {
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 35px;
                    }
                    a {
                        max-width: 100%;
                    }
                }
                .image-block {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        .pre-manufactured-wrapper {
            .pre-manufactured {
                .product-block {
                    .product-wrapper {
                        flex-direction: column;
                        .item {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
