@import "./variables.scss";
@import "./mixins.scss";

//Home page style start
body {
    margin: 0;
    padding: 0;
    font-family: $poppins;
    input:-internal-autofill-selected {
        background-color: transparent !important;
        color: transparent;
    }
}

p,
h1,
h2 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

dl,
ol,
ul {
    margin-bottom: 0;
}
img {
    max-width: 100%;
}
.common-btn {
    background-color: #35b11b;
    color: $white;
    width: 212px;
    height: 40px;
    padding: 12px 6px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:hover {
        // background-color: #165e60;
        background-color: #fc1b15;
        color: $white;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        margin-left: 21px;
    }
}
.product-card {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
    flex-wrap: wrap;
    .single-item {
        width: calc(25% - 20px);
        margin-right: 20px;
        margin-bottom: 10px;
        .product-image {
            box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
            position: relative;
            .product-img {
                z-index: 1;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
            .overlay-image {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                transition: 0.3s;
                &:hover {
                    opacity: 1;
                }
            }
            .product-images-hover {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                opacity: 0;
                z-index: 1;
                transition: 0.3s;
                height: 300px;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .product-descriptions {
            padding: 15px;
            transition: 0.3s;
            &:hover {
                background-color: #fff;
            }
            p {
                line-height: 32px;
                font-weight: normal;
                font-family: Oxygen;
                color: #333;
                font-size: 16px;
                @include word_break(4);
            }
            .order-btn {
                margin-top: 15px;
                a {
                    margin: 0 auto;
                    width: 80px;
                }
            }
        }
        &:hover .product-images-hover,
        &:hover .overlay-image,
        &:hover .product-descriptions {
            opacity: 1;
            background-color: #fff;
            // transform: translate(-50%, -10px);
        }
    }
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px !important;
        line-height: 30px !important;
    }
    h2 {
        font-size: 24px !important;
        line-height: 30px !important;
    }
    h3 {
        font-size: 16px !important;
        line-height: 30px !important;
    }
    h4 {
        font-size: 14px !important;
    }
    p {
        font-size: 12px !important;
    }
    a {
        font-size: 12px !important;
    }
    .man_intro_cont {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        .breadcrumb {
            display: none !important;
        }
    }
}
