@import "./variables.scss";
@import "./mixins.scss";

//Home page style start
body {
    margin: 0;
    padding: 0;
    font-family: $poppins;
    input:-internal-autofill-selected {
        background-color: transparent !important;
        color: transparent;
    }
}

p,
h1,
h2 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

dl,
ol,
ul {
    margin-bottom: 0;
}
img {
    max-width: 100%;
}
.common-btn {
    background-color: #1f7463;
    color: $white;
    width: 212px;
    height: 40px;
    padding: 12px 6px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:hover {
        // background-color: #165e60;
        background-color: #fc1b15;
        color: $white;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        margin-left: 21px;
    }
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px !important;
        line-height: 30px !important;
    }
    h2 {
        font-size: 24px !important;
        line-height: 30px !important;
    }
    h3 {
        font-size: 16px !important;
        line-height: 30px !important;
    }
    h4 {
        font-size: 14px !important;
    }
    p {
        font-size: 12px !important;
    }
    a {
        font-size: 12px !important;
    }
    .man_intro_cont {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        .breadcrumb {
            display: none !important;
        }
    }
}
